<header class="flex w-full border">
  <div>Netflix</div>
  <nav class="mr-auto flex items-center">
    <ul class="p-2 bg-red-300">
      @for(option of NAVIGATION_OPTIONS; track $index) {
      <div>{{option.label}}</div>
      }
    </ul>
  </nav>

  <div class="flex gap-2">
    <div>search</div>
    <div>notif</div>
    <div>avatar</div>
  </div>
</header>

<main class="bg-neutral-900 dark:text-neutral-50">
  @defer (when mostPopularMovie()) {
  <div>
    <img src="" alt="">
    <h2>{{mostPopularMovie().title}}</h2>
  </div>
  } @loading {
  <div>loading...</div>
  }
</main>
